
/* General Styles  login*/
.label {
  text-align: left !important;
  font-weight: 300;
  font-size: 15px;
}

.heading-login {
  font-weight: 400;
  padding: 2rem;
}

.forgot-password {
  font-family: "Nunito Sans";
  text-align: right;
  font-size: 12px;
}

.login-to-get-started-copy {
  color: #3F3F3F;
  font-family: "Nunito Sans";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
}

.rectangle {
  height: 36px;
  width: 100%;
  border-radius: 18px;
  background-color: #035FB2;
  color: #FFFFFF;
  font-family: "Nunito Sans";
  font-size: 16px;
  line-height: 22px;
  border: none;
}

.login {
  text-align: center;
  width: 150px;
  margin: 0 auto;
}

.message {
  color: #FF3838;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 19px;
}

.error-message {
  color: #FF3838;
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 19px;
}

/* Card and Container Styles */
.login-box {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 18px 0 rgba(2, 118, 179, 0.13);
  padding: 20px;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}

  /* Dashboard CSS */
  .container-dashboard .container{
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
     max-width: 1230px;
  } 
  .highchart-style{
    height: 387px;
  width: 635px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
  }
  .box {
    height: 83px;
    width: 217.6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 4px 21px 0 rgba(173, 182, 217, 0.27);
  }

  .left-line {
    height: 83px;
    width: 5px;
    background-color: #0cc9e8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .total-projects {
    height: 20px;
    width: 110px;
    color: #474D52;
    font-family: "Nunito Sans";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
  }
  .count {
    height: 54px;
    width: 102px;
    color: #474D52;
    font-family: "Nunito Sans";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 54px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .department-wise-to {
    height: 27px;
    width: auto;
    color: #010202;
    font-family: "Nunito Sans";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
    margin: 10px;
  }

  /* add project css */
  .container-add-project {
    height: 606px;
    width: 1268px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
  }
  .input-theme{
    min-height: calc(4em + 1rem + calc(var(--bs-border-width)* 2)) !important;
    padding: 0.5rem 1rem;
    font-size: 1rem !important;
    border-radius: var(--bs-border-radius-lg);
    
  }
  .mobile-save-button{
    display: none;
  }
  .save-project {
    height: 36px;
    width: 153px;
    border-radius: 18px;
    background-color: #025AAB;
    border: none;
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
  }
  .select-input{
    box-sizing: border-box;
    height: 48px;
    width: 337px;
    border: 1px solid #979797;
    border-radius: 6px;
    appearance: auto !important;
    min-height: calc(2.5em + 1rem + calc(var(--bs-border-width)* 2)) !important;
  }
  .date-picker{
    width: 337px !important;
    height: 56px !important;
    margin-left: 10px;
  }

  /* Project List CSS */
  .main-table{
      height: 595px;
      width: 1276px;
      border-radius: 10px;
      background-color: #FFFFFF;
      box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
      margin-top: 11px;
  }
  
  .start {
      /* height: 19px;
      width: 32px; */
      color: #FFFFFF !important;
      font-family: "Nunito Sans" !important;
      font-size: 14px !important;
      letter-spacing: 0 !important;
      line-height: 19px !important;
      text-align: center !important; 
      border-radius: 18px !important;
      background-color: #025AAB !important;
      margin-right:15px ;
    width: 85px;
  }
  .close-btn{
    box-sizing: border-box !important;
    height: 35px !important;
    width: 80px !important;
    border: 1px solid #025AAB !important;
    border-radius: 18px !important;
    margin-right:15px ;
  }
.logout-mobile{
  display: none;
}
.mobile-view{
  display: none;
}
  
/* Responsive Adjustments */
@media (max-width: 576px) {
  .container-add-project{
    height: auto;
    width: auto;
  }
  .container-add-project .form-control{
    width: 350px;
  }
  .card{
    background-color: transparent;
    border: none;
  }
  .card-body{
    /* padding: 0; */
  }
  .login-box {
      box-shadow: none;
      background-color: transparent;
      border: none;
      padding: 0;
  }

  .login-to-get-started-copy {
      font-size: 28px;
      float: left;
      display: contents;
      color: #3F3F3F;
      font-family: "Nunito Sans";
      letter-spacing: 0;
      line-height: 27px;
  }

  .forgot-password {
      font-size: 10px;
  }

  .rectangle {
      font-size: 14px;
  }

  .message, .error-message {
      font-size: 12px;
  }

  .form-group {
      margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  /* Dashboard CSS */
.container-dashboard .container{
  margin-top:0px !important
}
  .bg-dashboard{
    height: 55px;
  width: 360px;
  border-radius: 0 0 0 35px;
  background: linear-gradient(274.88deg, #0474DA 0%, #044E92 100%)
  }
  .logout-mobile{
    display: flex;
    margin-left: auto;
  }
  .highchart-style{
    height: 424px;
    width: 328px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
  }
  /* Add Project CSS */
  .mobile-save-button{
    display: flex;
  }
  .web-save-button{
    display:none;
  }
  .mobile-save-button .save-project{
    position: absolute;
    bottom: 15px;
    margin-left: 20px;
    z-index: 999;
    width: 300px;
  }
  .container-add-project{
    height: auto !important;
    width: auto !important;
  }
  .container-add-project .form-control{
    width: 350px;
  }
  .card{
    background-color: transparent;
    border: none !important;
  }

  /* login CSS */
 .login{
    width: auto;
    
}
  .login-box {
    box-shadow: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

.login-to-get-started-copy {
    font-size: 28px;
    color: #3F3F3F;
  font-family: "Nunito Sans";
  /* font-size: 20px; */
  letter-spacing: 0;
  line-height: 27px;
  display: contents;
}

.forgot-password {
    font-size: 10px;
}

.rectangle {
    font-size: 14px;
}

.message, .error-message {
    font-size: 12px;
}

.form-group {
    margin-bottom: 20px;
}
/* listing page */
/* project listing page - mobile view css */
.main-table{
  display: none;
}
.mobile-view{
  display: block;
}
 .project-card {
  height: 257px;
  width: 350px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 7px 18px 0 rgba(2, 118, 179, 0.13);
  overflow: hidden; /* Ensure content stays within the card */
  padding: 10px 15px;
  margin: 0 auto;
}
.mobile-view .first{
  height: 170px;
}
.mobile-view .card-title{
  height: 22px;
  width: 180px;
  color: #414950;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.44px;
  line-height: 22px;
  
}
.mobile-view .status{
  height: 19px;
  width: 76px;
  color: #00284C;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-align: right;
}
.mobile-view .listing-date{
  height: 19px;
  width: 250px;
  color: #6B6B6B;
  font-family: "Nunito Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 5px;
}
.mobile-view .listing-details{
  height: 19px;
  width: 350px;
  color: #3F3F3F;
  font-family: "Nunito Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.mobile-view .status-button{
  height: 36px;
  width: 88px;
  border-radius: 18px;
  background-color: #025AAB;
  /* height: 22px;
  width: 36px; */
  color: #FFFFFF;
  font-family: "Nunito Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  border: none;
}
.mobile-view .status-button-another{
  box-sizing: border-box;
  height: 36px;
  width: 88px;
  border: 1px solid #025AAB;
  border-radius: 18px;
  /* height: 22px;
  width: 40px; */
  color: #025AAB;
  background-color: white;
  font-family: "Nunito Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
}

}