
.bg-home{
  background-image: url("../src/assets/login-bg-1.svg");
  background-repeat: no-repeat;
  background-position: cover;
}
.bg-dashboard{
  background-image: url("../src/assets/Header-bg.svg");
  background-repeat: no-repeat;
  background-position: cover;
}
body{
  font-family: "Nunito Sans", sans-serif !important;
}

